!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boilerplate
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text Boilerplate
      
      .top-bar-right
        -if user_signed_in?
          %ul.dropdown.menu{"data-dropdown-menu" => ""}
            %li
              %a{:href => "#"}
                = current_user.email
              %ul.menu.vertical
                %li
                  = link_to('Logout', destroy_user_session_path, method: :delete)
        -else
          %ul.dropdown.menu{"data-dropdown-menu" => ""}
            %li
              = link_to('Login', new_user_session_path)
            %li
              = link_to('Sign up', new_user_registration_path)

    %p.notice
      = notice
    %p.alert
      = alert
    .grid-container
      = yield
