!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Boilerplate
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
  %body
    .top-bar
      .top-bar-left
        %ul.dropdown.menu{"data-dropdown-menu" => ""}
          %li.menu-text Boilerplate
          %li
            %a{:href => "#"} One
            %ul.menu.vertical
              %li
                %a{:href => "#"} One
              %li
                %a{:href => "#"} Two
              %li
                %a{:href => "#"} Three
          %li
            %a{:href => "#"} Two
          %li
            %a{:href => "#"} Three
      .top-bar-right
        %ul.menu
          %li
            %input{:placeholder => "Search", :type => "search"}/
          %li
            %button.button{:type => "button"} Search

    %p.notice
      = notice
    %p.alert
      = alert
    = yield
